.vscode/
Jinterest.code-workspace
.idea/
/Jinterest.iml

backend/out/
backend/lib/
backend/target/
backend/notes/
backend/database/jinterest.json
backend/database/images/

frontend/.dart_tool/
frontend/.idea/
frontend/.metadata
frontend/frontend.iml
frontend/pubspec.lock
frontend/TUTORIAL_FA.md
frontend/TUTORIAL_SYNTAX_FA.md

# idk
# frontend/android/gradle.properties
# frontend/android/settings.gradle.kts
frontend/android/
frontend/pubspec.yaml/
